<ion-header>

</ion-header>


<ion-content id="main-content">
  <ion-title class="mercado_titulo">
   <h3>Pães</h3>
  </ion-title>
  <div class="produtos">
    
    <div id="item">
      <img src="assets/images/pao.png" alt="Pão Francês" />
      <p class="texto_1">Pão Francês<br>1 Unidade<br>R$<span id="preco">0,50</span></p>
      <button class="btn_adicionar" (click)="adicionarAoCarrinho('Pão Francês', 0.50, 'assets/images/pao.png')">Adicionar</button>
    </div>
  
   
    <div id="item">
      <img src="assets/images/anamaria.png" alt="Bolinho Ana Maria" />
      <p class="texto_1">Bolinho Ana Maria Chocolate<br>1 Unidade<br>R$<span id="preco">2,99</span></p>
      <button class="btn_adicionar" (click)="adicionarAoCarrinho('Bolinho Ana Maria', 2.99, 'assets/images/anamaria.png')">Adicionar</button>
    </div>
  

  
  <div id="item">
    <img src="assets/images/paopuma.png" alt="Pão Pullman" />
    <p class="texto_1">Pão de Forma Pullman<br>400g<br>R$<span id="preco">8,99</span></p>
    <button class="btn_adicionar" (click)="adicionarAoCarrinho('Pão de Forma Pullman', 8.99, 'assets/images/paopuma.png')">Adicionar</button>
  </div>
  
  <div id="item">
    <img src="assets/images/rap10.png" alt="rap10" />
    <p class="texto_1">Rap 10<br>1 Pacote<br>R$<span id="preco">8,99</span></p>
    <button class="btn_adicionar" (click)="adicionarAoCarrinho('Rap 10', 8.99, 'assets/images/rap10.png')">Adicionar</button>
  </div>

  <div id="item">
    <img src="assets/images/panetone.png" alt="panetone" />
    <p class="texto_1">Panetone Visconti<br>400g<br>R$<span id="preco">9,99</span></p>
    <button class="btn_adicionar" (click)="adicionarAoCarrinho('Panetone Visconti', 9.99, 'assets/images/panetone.png')">Adicionar</button>
  </div>

  <div id="item">
    <img src="assets/images/mordatela.png" alt="mordatela" />
    <p class="texto_1">Mordatella Perdigão<br>200g<br>R$<span id="preco">5,99</span></p>
    <button class="btn_adicionar" (click)="adicionarAoCarrinho('Mordatella Perdigão', 5.99, 'assets/images/mordatela.png')">Adicionar</button>
  </div>

  <div id="item">
    <img src="assets/images/integral.png" alt="pao de forma integral" />
    <p class="texto_1">Pão de Forma Integral Pullman<br>400g<br>R$<span id="preco">9,99</span></p>
    <button class="btn_adicionar" (click)="adicionarAoCarrinho('Pão de Forma Integral Pullman', 9.99, 'assets/images/integral.png')">Adicionar</button>
  </div>

  




</div>
</ion-content>
