<ion-header>

</ion-header>


<ion-content id="main-content">
  <ion-title class="mercado_titulo">
   <h3>Bebidas Alcoólicas</h3>
  </ion-title>
  <div class="produtos">
    
    <div id="item">
      <img src="assets/images/duff.png" alt="cerveja duff" />
      <p class="texto_1">Cerveja Duff Beer<br>350 ml<br>R$<span id="preco">1,99</span></p>
      <button class="btn_adicionar" (click)="adicionarAoCarrinho('Cerveja Duff Beer', 1.99, 'assets/images/duff.png')">Adicionar</button>
    </div>
  
   
    <div id="item">
      <img src="assets/images/skol.png" alt="cerveja skol" />
      <p class="texto_1">Cerveja Skol<br>350 ml<br>R$<span id="preco">2,99</span></p>
      <button class="btn_adicionar" (click)="adicionarAoCarrinho('Cerveja Skol', 2.99, 'assets/images/skol.png')">Adicionar</button>
    </div>
  

  
  <div id="item">
    <img src="assets/images/boa.png" alt="cerveja antartica boa" />
    <p class="texto_1">Cerveja Antartica Boa<br>350ml<br>R$<span id="preco">2,89</span></p>
    <button class="btn_adicionar" (click)="adicionarAoCarrinho('Cerveja Antartica Boa', 2.89, 'assets/images/boa.png')">Adicionar</button>
  </div>
  
  <div id="item">
    <img src="assets/images/heineken.png" alt="cerveja heineken" />
    <p class="texto_1">Cerveja Heineken<br>600ml<br>R$<span id="preco">5,99</span></p>
    <button class="btn_adicionar" (click)="adicionarAoCarrinho('Cerveja Heineken', 5.99, 'assets/images/heineken.png')">Adicionar</button>
  </div>

  <div id="item">
    <img src="assets/images/goes.png" alt="vinho goes" />
    <p class="texto_1">Vinho Goes Tradicional<br>900ml<br>R$<span id="preco">9,99</span></p>
    <button class="btn_adicionar" (click)="adicionarAoCarrinho('Vinho Goes Tradicional', 9.99, 'assets/images/goes.png')">Adicionar</button>
  </div>

  <div id="item">
    <img src="assets/images/veio.png" alt="veneno liquido vulgo velho barreiro" />
    <p class="texto_1">Aguardente Velho Barreiro<br>910ml<br>R$<span id="preco">12,99</span></p>
    <button class="btn_adicionar" (click)="adicionarAoCarrinho('Aguardente Velho Barreiro', 12.99, 'assets/images/veio.png')">Adicionar</button>
  </div>

  <div id="item">
    <img src="assets/images/redlabel.png" alt="red ressaca label" />
    <p class="texto_1">Whysky Red Label<br>1 Litro<br>R$<span id="preco">89,99</span></p>
    <button class="btn_adicionar" (click)="adicionarAoCarrinho('Whysky Red Label', 89.99, 'assets/images/redlabel.png')">Adicionar</button>
  </div>

  




</div>
</ion-content>
