<ion-header>

</ion-header>


<ion-content id="main-content">
  <ion-title class="mercado_titulo">
   <h3>Bebidas Alcoólicas</h3>
  </ion-title>
  <div class="produtos">
    
    <div id="item">
      <img src="assets/images/coca.png" alt="coca-cola" />
      <p class="texto_1">Coca-Cola<br>350 ml<br>R$<span id="preco">1,99</span></p>
      <button class="btn_adicionar" (click)="adicionarAoCarrinho('Coca-Cola', 1.99, 'assets/images/coca.png')">Adicionar</button>
    </div>
  
   
    <div id="item">
      <img src="assets/images/guarana.png" alt="guarana antartica" />
      <p class="texto_1">Guaraná Antartica<br>350 ml<br>R$<span id="preco">1,99</span></p>
      <button class="btn_adicionar" (click)="adicionarAoCarrinho('Guaraná Antartica', 1.99, 'assets/images/guarana.png')">Adicionar</button>
    </div>
  

  
  <div id="item">
    <img src="assets/images/fanta.png" alt="fanta laranja" />
    <p class="texto_1">Fanta Laranja<br>350ml<br>R$<span id="preco">1,99</span></p>
    <button class="btn_adicionar" (click)="adicionarAoCarrinho('Fanta Laranja', 1.99, 'assets/images/fanta.png')">Adicionar</button>
  </div>
  
  <div id="item">
    <img src="assets/images/sucouva.png" alt="Suco del Valle" />
    <p class="texto_1">Suco del Valle<br>1 Litro<br>R$<span id="preco">7,99</span></p>
    <button class="btn_adicionar" (click)="adicionarAoCarrinho('Suco del Valle', 7.99, 'assets/images/sucodeuva.png')">Adicionar</button>
  </div>

  <div id="item">
    <img src="assets/images/aguacom.png" alt="agua com gas" />
    <p class="texto_1">Água com Gás<br>500ml<br>R$<span id="preco">1,30</span></p>
    <button class="btn_adicionar" (click)="adicionarAoCarrinho('Água com Gás', 1.30, 'assets/images/aguacom.png')">Adicionar</button>
  </div>

  <div id="item">
    <img src="assets/images/aguasem.png" alt="agua sem gas" />
    <p class="texto_1">Água sem Gás<br>500ml<br>R$<span id="preco">1,20</span></p>
    <button class="btn_adicionar" (click)="adicionarAoCarrinho('Água sem Gás', 1.20, 'assets/images/aguasem.png')">Adicionar</button>
  </div>

  <div id="item">
    <img src="assets/images/cocazero.png" alt="coca zero" />
    <p class="texto_1">Coca-Cola Zero<br>500ml<br>R$<span id="preco">4,99</span></p>
    <button class="btn_adicionar" (click)="adicionarAoCarrinho('Coca-Cola Zero', 4.99, 'assets/images/cocazero.png')">Adicionar</button>
  </div>

  




</div>
</ion-content>
