<ion-header>

</ion-header>


<ion-content id="main-content">
  <ion-title class="mercado_titulo">
   <h3>Sobremesas</h3>
  </ion-title>
  <div class="produtos">
    
    <div id="item">
      <img src="assets/images/bolopote.png" alt="bolopote" />
      <p class="texto_1">Bolo de Chocolate no Pote<br>1 Unidade(150g)<br>R$<span id="preco">8,99</span></p>
      <button class="btn_adicionar" (click)="adicionarAoCarrinho('Bolo de Chocolate no Pote', 8.99, 'assets/images/bolopote.png')">Adicionar</button>
    </div>
  
   
    <div id="item">
      <img src="assets/images/pudim.png" alt="pudim" />
      <p class="texto_1">Pudim de Leite<br>1 Unidade(100g)<br>R$<span id="preco">5,99</span></p>
      <button class="btn_adicionar" (click)="adicionarAoCarrinho('Pudim de Leite', 5.99, 'assets/images/pudim.png')">Adicionar</button>
    </div>
  

  
  <div id="item">
    <img src="assets/images/saladafruta.png" alt="saladafruta" />
    <p class="texto_1">Salada de Frutas<br>1 Unidade(150g)<br>R$<span id="preco">3,99</span></p>
    <button class="btn_adicionar" (click)="adicionarAoCarrinho('Salada de Frutas', 3.99, 'assets/images/saladafruta.png')">Adicionar</button>
  </div>
  
  <div id="item">
    <img src="assets/images/brownie.png" alt="brownie" />
    <p class="texto_1">Brownie Individual<br>1 Unidade(250g)<br>R$<span id="preco">12,99</span></p>
    <button class="btn_adicionar" (click)="adicionarAoCarrinho('Brownie Individual', 12.99, 'assets/images/brownie.png')">Adicionar</button>
  </div>

  <div id="item">
    <img src="assets/images/tortalimao.png" alt="tortalimao" />
    <p class="texto_1">Torta de Limão no Pote<br>1 Unidade(147g)<br>R$<span id="preco">4,99</span></p>
    <button class="btn_adicionar" (click)="adicionarAoCarrinho('Torta de Limão no Pote', 4.99, 'assets/images/tortalimao.png')">Adicionar</button>
  </div>

  <div id="item">
    <img src="assets/images/pacoca.png" alt="paçoquinha" />
    <p class="texto_1">Paçoquinha Rolha<br>250g<br>R$<span id="preco">10,99</span></p>
    <button class="btn_adicionar" (click)="adicionarAoCarrinho('Paçoquinha Rolha', 10.99, 'assets/images/pacoca.png')">Adicionar</button>
  </div>

  <div id="item">
    <img src="assets/images/bombom.png" alt="bombom de merengue" />
    <p class="texto_1">Bombom de Merenque<br>200g<br>R$<span id="preco">12.99</span></p>
    <button class="btn_adicionar" (click)="adicionarAoCarrinho('Bombom de Merenque', 12.99, 'assets/images/bombom.png')">Adicionar</button>
  </div>



</div>
</ion-content>
