<ion-header>

</ion-header>


<ion-content id="main-content">
  <ion-title class="mercado_titulo">
   <h3>Combos</h3>
  </ion-title>
  <div class="produtos">
    
    <div id="item">
      <img src="assets/images/combo1.png" alt="combo1" />
      <p class="texto_1">Combo Snack Coca-Cola e Doritos <br>500ml(coca) 120g(doritos)<br>R$<span id="preco">20,00</span></p>
      <button class="btn_adicionar" (click)="adicionarAoCarrinho('Combo Snack Coca-Cola e Doritos', 20.00, 'assets/images/combo1.png')">Adicionar</button>
    </div>
  
   
    <div id="item">
      <img src="assets/images/combo2.png" alt="combo2" />
      <p class="texto_1">Combo Cinema Guarána e Pipoca <br>350ml(Guarána) 97g(Pipoca)<br>R$<span id="preco">11,00</span></p>
      <button class="btn_adicionar" (click)="adicionarAoCarrinho('Combo Cinema Guarána e Pipoca', 11.00, 'assets/images/combo2.png')">Adicionar</button>
    </div>
  

  
    <div id="item">
      <img src="assets/images/combo3.png" alt="combo3" />
      <p class="texto_1">Combo Doce Chocolate Barra e Balas Sordidas <br>350ml(Barra) 97g(Balas)<br>R$<span id="preco">12,99</span></p>
      <button class="btn_adicionar" (click)="adicionarAoCarrinho('Combo Doce Chocolate Barra e Balas Sordidas', 12.99, 'assets/images/combo3.png')">Adicionar</button>
    </div>
  
    <div id="item">
      <img src="assets/images/combo4.png" alt="combo4" />
      <p class="texto_1">Combo Cafézinho Café Soluvél e Biscoito <br>20g(Café) 102g(Biscoito)<br>R$<span id="preco">8,99</span></p>
      <button class="btn_adicionar" (click)="adicionarAoCarrinho('Combo Cafézinho Café Soluvél e Biscoito', 8.99, 'assets/images/combo4.png')">Adicionar</button>
    </div>

    <div id="item">
      <img src="assets/images/combo5.png" alt="combo5" />
      <p class="texto_1">Combo Happy Hour 2x Brahma e Amendoim <br>350ml(2xBrahma) 120g(Amendoim)<br>R$<span id="preco">13,99</span></p>
      <button class="btn_adicionar" (click)="adicionarAoCarrinho('Combo Happy Hour 2x Brahma e Amendoim', 13.99, 'assets/images/combo5.png')">Adicionar</button>
    </div>

    <div id="item">
      <img src="assets/images/combo6.png" alt="combo6" />
      <p class="texto_1">Combo Lanche Infantil Club-Social, Suco de Uva e Boliho <br>29g(Clube Social) 270ml(Suco de Uva)<br>R$<span id="preco">9,99</span></p>
      <button class="btn_adicionar" (click)="adicionarAoCarrinho('ombo Lanche Infantil Club-Social, Suco de Uva e Boliho', 9.99, 'assets/images/combo6.png')">Adicionar</button>
    </div>

    <div id="item">
      <img src="assets/images/combos7.png" alt="combo7" />
      <p class="texto_1">Combo Lanche Infantil 2 Biscoito, Suco de Uva e Yogurt Grego <br>29g(Clube Social) 270ml(Suco de Uva)<br>R$<span id="preco">9,99</span></p>
      <button class="btn_adicionar" (click)="adicionarAoCarrinho('Combo Lanche Infantil 2 Biscoito, Suco de Uva e Yogurt Grego ', 9.99, 'assets/images/combos7.png')">Adicionar</button>
    </div>



</div>
</ion-content>
