<ion-header>

</ion-header>


<ion-content id="main-content">
  <ion-title class="mercado_titulo">
   <h3>Pratos Frios</h3>
  </ion-title>
  <div class="produtos">
    
    <div id="item">
      <img src="assets/images/queijominas.png" alt="queijominas" />
      <p class="texto_1">Queijo Minas Frescal<br>270g<br>R$<span id="preco">20,00</span></p>
      <button class="btn_adicionar" (click)="adicionarAoCarrinho('Queijo Minas Frescal', 20.00, 'assets/images/queijominas.png')">Adicionar</button>
    </div>
  
   
    <div id="item">
      <img src="assets/images/patefrango.png" alt="patefrango" />
      <p class="texto_1">Patê de Frango<br>250g<br>R$<span id="preco">7,89</span></p>
      <button class="btn_adicionar" (click)="adicionarAoCarrinho('Patê de Frango', 7.89, 'assets/images/patefrango.png')">Adicionar</button>
    </div>
  

  
  <div id="item">
    <img src="assets/images/palmito.png" alt="palmito" />
    <p class="texto_1">Palmito em Conserva<br>370g<br>R$<span id="preco">30,49</span></p>
    <button class="btn_adicionar" (click)="adicionarAoCarrinho('Palmito em Conserva', 30.49, 'assets/images/pamito.png')">Adicionar</button>
  </div>
  
  <div id="item">
    <img src="assets/images/sanduiche.png" alt="saunduiche" />
    <p class="texto_1">Saunduíche Natural<br>1 Unidade<br>R$<span id="preco">10,99</span></p>
    <button class="btn_adicionar" (click)="adicionarAoCarrinho('Saunduíche Natural', 10.99, 'assets/images/saunduiche.png')">Adicionar</button>
  </div>

  <div id="item">
    <img src="assets/images/tabua.png" alt="tabua de frios" />
    <p class="texto_1">Tábua de Frios<br>500g<br>R$<span id="preco">29,99</span></p>
    <button class="btn_adicionar" (click)="adicionarAoCarrinho('Tábua de Frios', 29.99, 'assets/images/tabua.png')">Adicionar</button>
  </div>

  <div id="item">
    <img src="assets/images/salame.png" alt="salame" />
    <p class="texto_1">Salame Italiano<br>300g<br>R$<span id="preco">25,79</span></p>
    <button class="btn_adicionar" (click)="adicionarAoCarrinho('Salame Italiano', 25.79, 'assets/images/salame.png')">Adicionar</button>
  </div>

  <div id="item">
    <img src="assets/images/vinagrete.png" alt="vinagrete" />
    <p class="texto_1">Vinagrete<br>260g<br>R$<span id="preco">7.99</span></p>
    <button class="btn_adicionar" (click)="adicionarAoCarrinho('Vinagrete', 7.99, 'assets/images/vinagrete.png')">Adicionar</button>
  </div>



</div>
</ion-content>
