<ion-header>

</ion-header>


<ion-content id="main-content">
  <ion-title class="mercado_titulo">
   <h3>Acompanhamentos</h3>
  </ion-title>
  <div class="produtos">
    
    <div id="item">
      <img src="assets/images/doritos.png" alt="doritos" />
      <p class="texto_1">Salgadinho Doritos<br>160g<br>R$<span id="preco">9,99</span></p>
      <button class="btn_adicionar" (click)="adicionarAoCarrinho('Salgadinho Doritos', 9.99, 'assets/images/doritos.png')">Adicionar</button>
    </div>
  
   
    <div id="item">
      <img src="assets/images/ruffles.png" alt="ruffles" />
      <p class="texto_1">Salgadinho Ruffles<br>130g<br>R$<span id="preco">10,99</span></p>
      <button class="btn_adicionar" (click)="adicionarAoCarrinho('Salgadinho Ruffles', 10.99, 'assets/images/ruffles.png')">Adicionar</button>
    </div>
  

  
  <div id="item">
    <img src="assets/images/vovo.png" alt="pipoca doce" />
    <p class="texto_1">Pipoca Doce Vovozinha<br>110g<br>R$<span id="preco">5,99</span></p>
    <button class="btn_adicionar" (click)="adicionarAoCarrinho('Pipoca Doce Vovozinha', 5.99, 'assets/images/vovo.png')">Adicionar</button>
  </div>
  
  <div id="item">
    <img src="assets/images/torcida.png" alt="Salgadinho torcida" />
    <p class="texto_1">Salgadinho Torcida<br>80g<br>R$<span id="preco">1,99</span></p>
    <button class="btn_adicionar" (click)="adicionarAoCarrinho('Salgadinho Torcida', 1.99, 'assets/images/torcida.png')">Adicionar</button>
  </div>

  <div id="item">
    <img src="assets/images/dori.png" alt="amendoim japonês" />
    <p class="texto_1">Amendoim Japonês<br>120g<br>R$<span id="preco">4,99</span></p>
    <button class="btn_adicionar" (click)="adicionarAoCarrinho('Amendoim Japonês', 4.99, 'assets/images/dori.png')">Adicionar</button>
  </div>

  <div id="item">
    <img src="assets/images/oreo.png" alt="biscoito oreo" />
    <p class="texto_1">Biscoito Oreo<br>90g<br>R$<span id="preco">3,99</span></p>
    <button class="btn_adicionar" (click)="adicionarAoCarrinho('Biscoito Oreo', 3.99, 'assets/images/oreo.png')">Adicionar</button>
  </div>

  <div id="item">
    <img src="assets/images/polvi.png" alt="biscoito de Polvilho" />
    <p class="texto_1">Biscoito de Polvilho<br>100g<br>R$<span id="preco">6,99</span></p>
    <button class="btn_adicionar" (click)="adicionarAoCarrinho('Biscoito de Polvilho', 6.99, 'assets/images/polvi.png')">Adicionar</button>
  </div>

  




</div>
</ion-content>
